.cards__title {
    margin: 110px 0 33px;
    font-size: 80px;
    line-height: 74px;
    letter-spacing: -3.2px;
}

.cards__item {
    margin-bottom: 30px;
    height: 536px
}

.cards__item-transport {
    position: relative;
    bottom: 500px;
    display: inline-flex;
    padding: 15px 20px;
    left: 40px;
    background: #fff59d;
    border-radius: 100px;
    color: #181818;
    font-weight: 700;
    text-transform: uppercase;
}

.cards__item-seats {
    position: relative;
    bottom: 500px;
    left: 42px;
    display: inline-flex;
    padding: 15px 20px;
    border-radius: 100px;
    background: #fff59d;
    color: #181818;
    font-weight: 700;
}

.cards__item-seats::after {
content: url(../../assets/people.svg);
margin-left: 5px;
}

.cards__item-title {
    position: relative;
    left: 40px;
    bottom: 130px;
    color: #fffef4;
    font-size: 45px;
    line-height: 42px;
    letter-spacing: -1.8px;
}